# 2000-2024 Ventura County Fire Data Analysis
### In this notebook, we get all the hotspot data from Ventura County from 2000-present and separate low and high intensity "fires" based on FRP (Fire Radiative Power).

In [1]:
import pandas as pd

In [2]:
file_path = r'/Users/rohan/Downloads/DL_FIRE_M-C61_481023/fire_archive_M-C61_481023.csv'
fire_data_MODIS = pd.read_csv(file_path)
fire_data_MODIS

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,34.4234,-118.9196,309.1,1.3,1.1,2000-11-27,1846,Terra,MODIS,56,6.03,283.4,10.2,D,0
1,34.3761,-118.9969,310.3,2.0,1.4,2000-11-28,1929,Terra,MODIS,64,6.03,295.0,18.5,D,0
2,34.3716,-118.9757,323.1,2.0,1.4,2000-11-28,1929,Terra,MODIS,80,6.03,295.3,50.3,D,0
3,34.4743,-119.2863,301.5,1.3,1.1,2000-11-30,1916,Terra,MODIS,44,6.03,290.8,5.3,D,0
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4118,34.3721,-118.9887,307.8,1.5,1.2,2024-01-30,2153,Aqua,MODIS,58,61.03,290.5,11.1,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4120,34.3961,-118.9704,306.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,59,61.03,292.4,6.1,D,0
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2
4122,34.4052,-118.9723,306.3,1.1,1.0,2024-02-13,2142,Aqua,MODIS,58,61.03,291.2,6.0,D,0

First, remove all data with confidence less than 70/100 for greater accuracy:

In [11]:
fire_data_MODIS_filtered = fire_data_MODIS[fire_data_MODIS["confidence"]>=70]
fire_data_MODIS_filtered

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
2,34.3716,-118.9757,323.1,2.0,1.4,2000-11-28,1929,Terra,MODIS,80,6.03,295.3,50.3,D,0
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
6,34.4609,-118.8706,324.4,1.0,1.0,2000-12-18,1904,Terra,MODIS,83,6.03,292.1,21.7,D,0
7,34.3317,-119.0296,333.3,1.1,1.1,2000-12-25,1910,Terra,MODIS,88,6.03,290.7,37.7,D,0
9,34.3298,-119.0179,321.1,1.1,1.1,2000-12-25,1910,Terra,MODIS,81,6.03,294.7,20.8,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4110,34.3057,-119.0683,325.7,2.3,1.5,2023-12-09,2202,Aqua,MODIS,84,61.03,295.7,71.2,D,0
4112,34.3045,-119.0845,327.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,85,61.03,294.2,80.3,D,0
4114,34.3039,-119.0913,319.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,75,61.03,293.5,49.8,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2

Export to a csv for later use:

In [15]:
fire_data_MODIS_filtered.to_csv('fire_archive_M-C61_481023_filtered.csv')

Export lat/lon coordinates to a csv:

In [17]:
coords = fire_data_MODIS_filtered[['latitude', 'longitude']]
coords.to_csv('coords.csv')

Define: "High intensity" hotspots - "frp" value greater than or equal to 200 | "Low intensity" hotspots - "frp" value less than or equal to 50

In [12]:
fire_data_MODIS_high_intensity = fire_data_MODIS_filtered[fire_data_MODIS_filtered["frp"]>=200]
fire_data_MODIS_high_intensity

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
280,34.4051,-119.1108,356.5,3.1,1.7,2003-09-17,2145,Aqua,MODIS,98,6.03,301.6,368.1,D,0
282,34.3901,-119.1082,361.5,3.1,1.7,2003-09-17,2145,Aqua,MODIS,100,6.03,302.1,436.2,D,0
283,34.3928,-119.1034,380.6,3.1,1.7,2003-09-17,2145,Aqua,MODIS,100,6.03,303.0,777.0,D,0
288,34.3648,-118.8400,392.8,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,306.4,807.5,N,0
289,34.3406,-118.8858,362.8,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,298.8,346.3,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3953,34.3170,-119.0721,373.9,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,296.4,360.9,N,0
3955,34.3331,-119.0557,452.8,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,315.3,2075.5,N,2
3958,34.3376,-119.0338,419.4,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,304.4,1081.1,N,2
3960,34.3261,-119.0275,375.4,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,297.5,373.7,N,0
3987,34.3338,-119.0185,390.8,1.0,1.0,2019-11-01,951,Aqua,MODIS,100,6.03,298.1,207.0,N,0

In [ ]:
fire_data_MODIS_high_intensity

In [30]:
fire_data_MODIS_low_intensity = fire_data_MODIS_filtered[fire_data_MODIS_filtered["frp"]<=50]
fire_data_MODIS_low_intensity

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
6,34.4609,-118.8706,324.4,1.0,1.0,2000-12-18,1904,Terra,MODIS,83,6.03,292.1,21.7,D,0
7,34.3317,-119.0296,333.3,1.1,1.1,2000-12-25,1910,Terra,MODIS,88,6.03,290.7,37.7,D,0
9,34.3298,-119.0179,321.1,1.1,1.1,2000-12-25,1910,Terra,MODIS,81,6.03,294.7,20.8,D,0
12,34.2618,-119.0730,313.7,2.5,1.5,2001-01-22,1934,Terra,MODIS,74,6.03,289.2,42.9,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,34.3557,-119.0312,317.9,1.1,1.0,2022-02-16,1832,Terra,MODIS,78,6.03,292.6,16.1,D,2
4107,34.2099,-119.1278,326.4,1.1,1.1,2023-08-31,1831,Terra,MODIS,72,61.03,305.6,15.2,D,2
4114,34.3039,-119.0913,319.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,75,61.03,293.5,49.8,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2

In [41]:
# Loop over 'acq_date' column and separate tables by year
fire_data_MODIS_2000 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2000']
fire_data_MODIS_2001 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2001']
fire_data_MODIS_2002 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2002']
fire_data_MODIS_2003 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2003']
fire_data_MODIS_2004 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2004']
fire_data_MODIS_2005 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2005']
fire_data_MODIS_2006 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2006']
fire_data_MODIS_2007 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2007']
fire_data_MODIS_2008 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2008']
fire_data_MODIS_2009 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2009']
fire_data_MODIS_2010 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2010']
fire_data_MODIS_2011 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2011']
fire_data_MODIS_2012 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2012']
fire_data_MODIS_2013 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2013']
fire_data_MODIS_2014 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2014']
fire_data_MODIS_2015 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2015']
fire_data_MODIS_2016 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2016']
fire_data_MODIS_2017 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2017']
fire_data_MODIS_2018 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2018']
fire_data_MODIS_2019 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2019']
fire_data_MODIS_2020 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2020']
fire_data_MODIS_2021 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2021']
fire_data_MODIS_2022 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2022']
fire_data_MODIS_2023 = fire_data_MODIS_filtered[fire_data_MODIS_filtered['acq_date'].str[:4] == '2023']

In [50]:
veryhot = fire_data_MODIS_filtered[fire_data_MODIS_filtered['frp']>=1000]
veryhot

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
290,34.3543,-118.8883,418.7,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,308.2,1457.0,N,0
313,34.3724,-118.8334,453.3,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,322.4,2905.3,N,0
316,34.3864,-118.8320,406.2,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,301.5,1119.1,N,0
317,34.3788,-118.8383,466.1,2.5,1.5,2003-10-26,636,Terra,MODIS,100,6.03,323.7,3635.3,N,0
322,34.3754,-118.8731,396.8,3.0,1.7,2003-10-26,911,Aqua,MODIS,100,6.03,303.0,1162.5,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3869,34.1044,-118.9523,500.0,1.0,1.0,2018-11-11,1846,Terra,MODIS,100,6.03,364.2,1605.6,D,0
3870,34.1060,-118.9631,500.0,1.0,1.0,2018-11-11,1846,Terra,MODIS,100,6.03,349.5,1608.1,D,0
3873,34.1133,-118.9504,474.0,1.0,1.0,2018-11-11,1846,Terra,MODIS,100,6.03,348.9,1074.0,D,0
3955,34.3331,-119.0557,452.8,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,315.3,2075.5,N,2
3958,34.3376,-119.0338,419.4,2.0,1.4,2019-11-01,535,Terra,MODIS,100,6.03,304.4,1081.1,N,2

In [52]:
veryhot.to_csv('veryhot.csv')

In [53]:
verycool = fire_data_MODIS_filtered[fire_data_MODIS_filtered['frp']<=50]
verycool

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
6,34.4609,-118.8706,324.4,1.0,1.0,2000-12-18,1904,Terra,MODIS,83,6.03,292.1,21.7,D,0
7,34.3317,-119.0296,333.3,1.1,1.1,2000-12-25,1910,Terra,MODIS,88,6.03,290.7,37.7,D,0
9,34.3298,-119.0179,321.1,1.1,1.1,2000-12-25,1910,Terra,MODIS,81,6.03,294.7,20.8,D,0
12,34.2618,-119.0730,313.7,2.5,1.5,2001-01-22,1934,Terra,MODIS,74,6.03,289.2,42.9,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,34.3557,-119.0312,317.9,1.1,1.0,2022-02-16,1832,Terra,MODIS,78,6.03,292.6,16.1,D,2
4107,34.2099,-119.1278,326.4,1.1,1.1,2023-08-31,1831,Terra,MODIS,72,61.03,305.6,15.2,D,2
4114,34.3039,-119.0913,319.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,75,61.03,293.5,49.8,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2

In [54]:
verycool.to_csv('verycool.csv')