In [7]:
import pandas as pd

In [8]:
file_path = r'/Users/rohan/Downloads/DL_FIRE_J1V-C2_481025/fire_nrt_J1V-C2_481025.csv'
fire_data_VIIRS = pd.read_csv(file_path)
fire_data_VIIRS

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,34.37858,-118.88986,330.30,0.52,0.41,2019-12-11,2112,N20,VIIRS,n,2.0NRT,288.50,3.10,D
1,34.36343,-118.95537,336.50,0.51,0.41,2019-12-11,2112,N20,VIIRS,n,2.0NRT,297.50,28.90,D
2,34.38240,-118.89034,332.60,0.52,0.41,2019-12-11,2112,N20,VIIRS,n,2.0NRT,288.80,3.10,D
3,34.30103,-118.97871,329.10,0.38,0.36,2019-12-12,2054,N20,VIIRS,n,2.0NRT,293.30,1.90,D
4,34.37904,-118.88906,329.00,0.38,0.36,2019-12-12,2054,N20,VIIRS,n,2.0NRT,292.30,6.00,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,34.23381,-119.21353,297.36,0.45,0.39,2024-06-15,932,N20,VIIRS,n,2.0NRT,286.58,0.28,N
1582,34.40057,-118.99860,299.35,0.44,0.39,2024-06-15,932,N20,VIIRS,n,2.0NRT,289.17,0.61,N
1583,34.29120,-118.80331,304.54,0.49,0.49,2024-06-16,911,N20,VIIRS,n,2.0NRT,286.47,0.91,N
1584,34.29537,-118.80470,295.62,0.46,0.64,2024-06-17,854,N20,VIIRS,n,2.0NRT,284.97,0.51,N
1585,34.29362,-118.80159,300.57,0.45,0.63,2024-06-17,1034,N20,VIIRS,n,2.0NRT,284.73,0.64,N

In [9]:
high_intensity = fire_data_VIIRS[fire_data_VIIRS["frp"]>=200]
high_intensity

Empty DataFrame
Columns: [latitude, longitude, brightness, scan, track, acq_date, acq_time, satellite, instrument, confidence, version, bright_t31, frp, daynight]
Index: []

In [11]:
fire_data_VIIRS.describe()

,latitude,longitude,brightness,scan,track,acq_time,bright_t31,frp
count,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000,1586.000000
mean,34.304998,-118.897755,310.397547,0.457320,0.471425,1161.370113,285.852743,2.493594
std,0.049399,0.168262,16.154881,0.085287,0.104265,436.356735,7.139135,6.485673
min,34.040360,-119.559490,295.000000,0.130000,0.360000,836.000000,268.560000,0.100000
25%,34.291420,-118.953245,299.307500,0.400000,0.380000,926.000000,280.720000,0.600000
50%,34.292875,-118.803540,304.415000,0.440000,0.440000,952.000000,285.415000,0.830000
75%,34.309368,-118.801785,312.957500,0.500000,0.530000,1028.000000,289.200000,1.290000
max,34.481910,-118.792170,367.000000,0.790000,0.780000,2200.000000,332.400000,102.090000

In [12]:
file_path = r'/Users/rohan/Downloads/DL_FIRE_M-C61_481023/fire_archive_M-C61_481023.csv'
fire_data_MODIS = pd.read_csv(file_path)
fire_data_MODIS

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,34.4234,-118.9196,309.1,1.3,1.1,2000-11-27,1846,Terra,MODIS,56,6.03,283.4,10.2,D,0
1,34.3761,-118.9969,310.3,2.0,1.4,2000-11-28,1929,Terra,MODIS,64,6.03,295.0,18.5,D,0
2,34.3716,-118.9757,323.1,2.0,1.4,2000-11-28,1929,Terra,MODIS,80,6.03,295.3,50.3,D,0
3,34.4743,-119.2863,301.5,1.3,1.1,2000-11-30,1916,Terra,MODIS,44,6.03,290.8,5.3,D,0
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4118,34.3721,-118.9887,307.8,1.5,1.2,2024-01-30,2153,Aqua,MODIS,58,61.03,290.5,11.1,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4120,34.3961,-118.9704,306.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,59,61.03,292.4,6.1,D,0
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2
4122,34.4052,-118.9723,306.3,1.1,1.0,2024-02-13,2142,Aqua,MODIS,58,61.03,291.2,6.0,D,0

In [13]:
fire_data_MODIS = fire_data_MODIS[fire_data_MODIS["confidence"]>=70]
fire_data_MODIS

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
2,34.3716,-118.9757,323.1,2.0,1.4,2000-11-28,1929,Terra,MODIS,80,6.03,295.3,50.3,D,0
4,34.4592,-118.8596,328.5,1.0,1.0,2000-12-18,1904,Terra,MODIS,86,6.03,293.6,26.8,D,0
6,34.4609,-118.8706,324.4,1.0,1.0,2000-12-18,1904,Terra,MODIS,83,6.03,292.1,21.7,D,0
7,34.3317,-119.0296,333.3,1.1,1.1,2000-12-25,1910,Terra,MODIS,88,6.03,290.7,37.7,D,0
9,34.3298,-119.0179,321.1,1.1,1.1,2000-12-25,1910,Terra,MODIS,81,6.03,294.7,20.8,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4110,34.3057,-119.0683,325.7,2.3,1.5,2023-12-09,2202,Aqua,MODIS,84,61.03,295.7,71.2,D,0
4112,34.3045,-119.0845,327.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,85,61.03,294.2,80.3,D,0
4114,34.3039,-119.0913,319.8,2.3,1.5,2023-12-09,2202,Aqua,MODIS,75,61.03,293.5,49.8,D,0
4119,34.2857,-119.1862,326.0,1.1,1.0,2024-02-13,2142,Aqua,MODIS,83,61.03,293.7,23.0,D,2
4121,34.2872,-119.1750,321.8,1.1,1.0,2024-02-13,2142,Aqua,MODIS,80,61.03,293.7,18.2,D,2

In [14]:
fire_data_MODIS["acq_date"].describe()

count           2691
unique           318
top       2017-12-07
freq             235
Name: acq_date, dtype: object

In [15]:
fire_data_MODIS["acq_date"].value_counts()

acq_date
2017-12-07    235
2017-12-05    190
2017-12-10    149
2003-10-26    139
2017-12-06    137
             ...
2004-08-04      1
2011-07-15      1
2004-07-13      1
2011-09-01      1
2000-11-28      1
Name: count, Length: 318, dtype: int64

In [16]:
fire_data_MODIS["frp"].describe()

count    2691.000000
mean      267.197362
std       521.320012
min         0.000000
25%        35.950000
50%        93.300000
75%       244.400000
max      6734.000000
Name: frp, dtype: float64